*.nii
*.nii.gz
*.o
mriviewer
baremri
build/
axial.bmp
axial_1.bmp
axial_2.bmp
axial_3.bmp
axial_seg.bmp
coronal.bmp
sagittal.bmp
.cache/
minifb/build/
.ropeproject/
00_test-data/
.agents
docs
!docs/superpowers/profiles/
!docs/superpowers/specs/
!docs/superpowers/plans/
mcp/.venv
myconfig.json
include/gfx/demo/demo_gfx
include/gfx/demo/test_gfx
build
src/patches/
00_personal
.worktrees/
crates/
target/
Cargo.lock
raygui.h
